<% @stores.sort.each do |store| %>
  <div data-role="collapsible">
    <h4><%= store.store_name %> (<%= store.store_address %>)</h4>
    <% store.products.order("audience_score DESC").group_by { |p| p.genre }.sort.each do |genre, products| %>
        <div data-role="collapsible">
        <h4><%= genre %></h4>
        <ul data-role="listview" data-inset="true">
          <% for product in products %>
            <li data-role="list-divider"><%= product.title %> <span class="ui-li-count"><%= (product.audience_score) %></span></li>
            <li>
              <p><img src="<%= product.image.url %>"></p>
              <p><%= link_to product.synopsis, product_path(product,:store_id => store.store_id.downcase) %></p>
              <p>Actors: <%= product.actors %></p>
              <p>Release year: <%= product.release_year %></p>
              <p>Rated: <%= product.rated %></p>
              <p>Critics: <%= product.critics_rating %> (<%= product.critics_score %>)</p>
              <p>Audience: <%= product.audience_rating %> (<%= product.audience_score %>)</p>
              <p><a href="http://www.redbox.com/externalcart?titleID=<%= product.product_id.downcase %>&amp;StoreGUID=<%= store.store_id.downcase %>" class="ui-btn ui-btn-inline ui-btn ui-mini">Reserve</a></p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>