<a href = "#" onclick="history.back();" data-back="true">Back</a>
<p><img src="<%= @product.image.url %>"></p>
<p><%= @product.synopsis %></p>
<p>Actors: <%= @product.actors %></p>
<p>Release year: <%= @product.release_year %></p>
<p>Rated: <%= @product.rated %></p>
<p>Critics: <%= @product.critics_rating %> (<%= @product.critics_score %>)</p>
<p>Audience: <%= @product.audience_rating %> (<%= @product.audience_score %>)</p>
<p><a href="http://www.redbox.com/externalcart?titleID=<%= @product.product_id.downcase %>&amp;StoreGUID=<%= params[:store_id].downcase %>" class="ui-btn ui-btn-inline ui-btn ui-mini">Reserve</a></p>